<div class="px-3 pt-2 fixed-bottom d-none d-md-block bg-light border-top">
  <p class="small text-muted">
    &copy;2019 <a href="https://github.com/sykeben" class="text-muted">Benjamin Sykes</a> and <a href="https://github.com/Ernie3" class="text-muted">Ernie Wilson</a>. Source avaliable from <a href="https://github.com/sykeben/RasDash" class="text-muted">sykeben/RasDash</a>.
  </p>
</div>
