<div class="px-3 fixed-bottom d-block">
  <p class="small text-muted">
    &copy;2019 <a href="https://sykeben.github.io/" class="text-muted">Benjamin Sykes</a>. Source avaliable from <a href="https://github.com/sykeben/RasDash" class="text-muted">sykeben/RasDash</a>.
  </p>
</div>
