<div class="fixed-bottom w-100">
    <nav class="px-3 float-right d-block">
        <ul class="pagination shadow-sm">
            <li id="page-link-0" name="page-link" class="page-item" data-href="/dash/0"><a class="page-link" href="/dash/0">1</a></li>
            <li id="page-link-1" name="page-link" class="page-item" data-href="/dash/1"><a class="page-link" href="/dash/1">2</a></li>
        </ul>
    </nav>
</div>

<!-- Dash Page Updater -->
<script type="text/javascript" src="/javascript/dashactive.js"></script>