<!-- Bootstrap CSS & Modifer -->
<link rel="stylesheet" href="/styles/vendor/bootstrap.min.css">
<link rel="stylesheet" href="/styles/bootmod.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/styles/common.css">

<!-- Other Info -->
<title>RasDash</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
