<!----------------------------------------------!>
<!-- RASDASH HEADER BASE - (C)2019: Ben Sykes --!>
<!----------------------------------------------->

<!-- Bootstrap CSS & Modifer -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/bootmod.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/styles/common.css">

<!-- Other Info -->
<title>RasDash</title>
