<nav class="navbar navbar-expand navbar-dark bg-dark navbar-shadow">

    <!-- Brand -->
    <div class="navbar-brand text-danger">
        <img class="mr-n2" height="32px" src="/images/icon-sm.png">
    </div>

    <!-- Pages -->
    <div class="navbar-nav">
        <a class="nav-item nav-link text-white" href="/">Dashboard</a>
        <a class="nav-item nav-link text-white" href="/about">About</a>
    </div>

</nav>
