<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-shadow">

    <!-- Brand -->
    <div class="navbar-brand text-danger">
        <strong>RasDash</strong>
    </div>

    <!-- Pages -->
    <div class="navbar-nav">
        <a id="nav-link-0" name="nav-link" class="nav-item nav-link" href="/">Dashboard</a>
        <a id="nav-link-1" name="nav-link" class="nav-item nav-link" href="/about">About</a>
    </div>

    <!-- Active Manager -->
    <script src="javascript/navactive.js"></script>

</nav>
