<div class="small row mx-3 px-1 mt-4">
        
    <!-- Device Model -->
    <div class="mr-3">
        Model: <span id="device-model" class="text-muted">Unknown</span>
    </div>
    
    <!-- Device OS -->
    <div class="mr-3">
        OS: <span id="device-os" class="text-muted">Unknown</span>
    </div>
    
    <!-- Server Status -->
    <div class="mr-3">
        Connection Status: <span id="connection-online" class="text-success">Online</span>
        <span id="connection-offline" class="text-danger hidden">Offline</span>
    </div>

    <!-- Server Uptime -->
    <div class="mr-3">
        Server Uptime: <span id="server-uptime" class="text-muted">00:00:00</span>
    </div>
    
</div>