<!doctype html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <title>RasDash</title>

        <link rel="stylesheet" href="/bootstrap.css">

    </head>

    <body>

        <div class="container-fluid">

            <h1>Hello, World!</h1>

        </div>

        <script src="/jquery.js"></script>
        <script src="/dashboard.js"></script>

    </body>

</html>