<!doctype html>

<html lang="en">

    <head>

        <%- include('partials/header.ejs') %>

    </head>

    <body class="bg-dark text-light">

        <div class="container-fluid text-center">

            <div class="row">

                <div class="col col-md-6 col-lg-4 col-xl-3 p-5">
                    <p class="lead">CPU Load</p>
                    <canvas id="cpu-load-gauge" class="w-100"></canvas>
                    <h1 class="display-2"><span id="cpu-load-label">0</span>%</h1>
                </div>

                <div class="col col-md-6 col-lg-4 col-xl-3 p-5">
                    <p class="lead">CPU Temperature</p>
                    <canvas id="cpu-temp-gauge" class="w-100"></canvas>
                    <h1 class="display-2"><span id="cpu-temp-label">0</span>&deg;C</h1>
                </div>

            </div>

        </div>

        <%- include('partials/footer.ejs') %>
        <script src="/vendor/gauge.js"></script>
        <script src="/custom/dashboard.js"></script>

    </body>

</html>