/* BODY */

body {
    padding-top: 56px;
}

/* TITLES */

.row-title {
    align-content: center;
    min-height: calc( 80vh - 150px ) !important;
}

/* COLUMNS */

.col-center {
    align-self: center;
}

/* BACKGROUNDS */

.bg-grad-purple {
	background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5) !important;
	background: -o-linear-gradient(50deg,#ff6ec4,#7873f5) !important;
	background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
}

.bg-grad-blue {
	background: -webkit-linear-gradient(50deg,#45cafc,#303f9f) !important;
	background: -o-linear-gradient(50deg,#45cafc,#303f9f) !important;
	background: linear-gradient(40deg,#45cafc,#303f9f) !important;
}

.bg-grad-aqua {
	background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3) !important;
	background: -o-linear-gradient(50deg,#2096ff,#05ffa3) !important;
	background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
}

.bg-grad-peach {
	background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262) !important;
	background: -o-linear-gradient(50deg,#ffd86f,#fc6262) !important;
	background: linear-gradient(40deg,#ffd86f,#fc6262) !important;
}

.bg-dark-trans {
    background-color: rgba(52, 58, 64, 0.8);
}

/* SHADOWS */

.text-shadow {
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

.text-shadow-sm {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* BORDERS */

.border-gray {
    border-color: dimgray !important;
}