.delay-0p25s { animation-delay: 0.25s; }
.delay-0p5s { animation-delay: 0.5s; }
.delay-0p75s { animation-delay: 0.75s; }

.delay-1p25s { animation-delay: 1.25s; }
.delay-1p5s { animation-delay: 1.5s; }
.delay-1p75s { animation-delay: 1.75s; }

.delay-2p25s { animation-delay: 2.25s; }
.delay-2p5s { animation-delay: 2.5s; }
.delay-2p75s { animation-delay: 2.75s; }

.delay-3p25s { animation-delay: 3.25s; }
.delay-3p5s { animation-delay: 3.5s; }
.delay-3p75s { animation-delay: 3.75s; }

.delay-4p25s { animation-delay: 4.25s; }
.delay-4p5s { animation-delay: 4.5s; }
.delay-4p75s { animation-delay: 4.75s; }