<!----------------------------------------!>
<!-- RASDASH INDEX - (C)2019: Ben Sykes --!>
<!----------------------------------------->

<!DOCTYPE html>

<html>

  <head>

    <!-- Base Header -->
    <% include ../partials/headbase.ejs %>

  </head>

  <body>

    <!-- Navbar -->
    <% include ../partials/navbar.ejs %>
    
    <!-- Main Container -->
    <div class="container-fluid">
      
      <!-- System Information -->
      <% include ../partials/sysinfo.ejs %>
      
      <!-- Main Values -->
      <div class="row mx-1">

        <h1>Nothing here yet!</h1> 
        
      </div>
      
      <!-- Copyright Information -->
      <% include ../partials/copyright.ejs %>
      
      <!-- Pagination -->
      <% include ../partials/dashpages.ejs %>
      
    </div>

    <!-- Base JS -->
    <% include ../partials/jsbase.ejs %>
    
    <!-- Other JS -->
    <script src="/javascript/dash_1.js"></script>

  </body>

</html>