<!----------------------------------------!>
<!-- RASDASH INDEX - (C)2019: Ben Sykes --!>
<!----------------------------------------->

<!DOCTYPE html>

<html>

  <head>

    <!-- Base Header -->
    <% include ../partials/headbase.ejs %>

  </head>

  <body>

    <!-- Navbar -->
    <% include ../partials/navbar.ejs %>
    
    <!-- Main Container -->
    <div class="container-fluid">
      
      <!-- System Information -->
      <div class="small row mx-3 px-1 mt-4">
        
        <!-- Device Model -->
        <div class="mr-3">
          Model: <span id="device-model" class="text-muted">Unknown</span>
        </div>
        
        <!-- Device OS -->
        <div class="mr-3">
          OS: <span id="device-os" class="text-muted">Unknown</span>
        </div>
        
        <!-- Server Status -->
        <div class="mr-3">
          Connection Status: <span id="connection-online" class="text-success">Online</span>
          <span id="connection-offline" class="text-danger hidden">Offline</span>
        </div>
        
      </div>
      
      <!-- Main Values -->
      <div class="row mx-1">
      
        <!-- CPU Temp -->
        <div class="col m-3 p-4 border rounded-lg bg-light shadow-sm text-center">
          <h5 class="card-title">CPU Temperature</h5>
          <h1 class="display-3">
            <span id="cpu-temp">0</span>
            <small class="ml-n3 font-weight-lighter">&deg;C</small>
          </h1>
        </div>
        
        <!-- CPU Usage -->
        <div class="col m-3 p-4 border rounded-lg bg-light shadow-sm text-center">
          <h5 class="card-title">CPU Usage</h5>
          <h1 class="display-3">
            <span id="cpu-usage">0</span>
            <small class="ml-n3 font-weight-lighter">%</small>
          </h1>
        </div>

        <!-- RAM Usage -->
        <div class="col m-3 p-4 border rounded-lg bg-light shadow-sm text-center">
          <h5 class="card-title">RAM Usage</h5>
          <h1 class="display-3 mb-n2">
            <span id="ram-usage">0</span>
            <small class="ml-n3 font-weight-lighter">%</small>
          </h1>
          <h3 class="display-5">
            <span id="ram-used">0</span>
            <small class="ml-n1">/ <span id="ram-total">0</span> MB</small>
          </h3>
        </div>

        <div class="w-100"></div>

        <!-- Disk Usage -->
        <div class="col m-3 p-4 border rounded-lg bg-light shadow-sm text-center">
          <h5 class="card-title">Disk Usage</h5>
          <h1 class="display-3 mb-n2">
            <span id="disk-usage">0</span>
            <small class="ml-n3">%</small>
          </h1>
          <h3 class="display-5">
            <span id="disk-used">0</span>
            <small class="ml-n1">/ <span id="disk-total">0</span> GB</small>
          </h3>
        </div>

        <!-- Network Stats for eth0 -->
        <div class="col m-3 p-4 border rounded-lg bg-light shadow-sm text-center">
          <h5 class="card-title">Network - eth0</h5>
          <h6>Transmit</h5>
          <h3 class="display-5">
            <span id="network-transmit-eth0">0</span>
            <small class="font-weight-lighter">Kbit/s</small>
          </h3>
          <h6 class="card-title">Receive</h5>
          <h3 class="display-5">
            <span id="network-receive-eth0">0</span>
            <small class="font-weight-lighter">Kbit/s</small>
          </h3>
        </div>

        <!-- Network Stats for wlan0 -->
        <div class="col m-3 p-4 border rounded-lg bg-light shadow-sm text-center">
          <h5 class="card-title">Network - wlan0</h5>
          <h6>Transmit</h5>
          <h3 class="display-5">
            <span id="network-transmit-wlan0">0</span>
            <small class="font-weight-lighter">Kbit/s</small>
          </h3>
          <h6 class="card-title">Receive</h5>
          <h3 class="display-5">
            <span id="network-receive-wlan0">0</span>
            <small class="font-weight-lighter">Kbit/s</small>
          </h3>
        </div>
        
      </div>
      
      <!-- Copyright Information -->
	    <% include ../partials/copyright.ejs %>
      
    </div>

    <!-- Base JS -->
    <% include ../partials/jsbase.ejs %>
    
    <!-- Other JS -->
    <script src="/javascript/dash.js"></script>

  </body>

</html>
