<!DOCTYPE html>

<html>

  <head>

    <!-- Base Header -->
    <% include ../partials/headbase.ejs %>

  </head>

  <body>

    <!-- Title -->
    <h1 class="p-3"></h1>

    <!-- Base Footer -->
    <% include ../partials/footbase.ejs %>

  </body>

</html>
