<!DOCTYPE html>

<html>

  <head>

    <!-- Base Header -->
    <% include ../partials/headbase.ejs %>

  </head>

  <body>

    <!-- Navbar -->
    <% include ../partials/navbar.ejs %>

    <!-- Base Footer -->
    <% include ../partials/footbase.ejs %>

  </body>

</html>
