<!----------------------------------------!>
<!-- RASDASH SETUP - (C)2019: Ben Sykes --!>
<!----------------------------------------->

<!DOCTYPE html>

<html>

  <head>

    <!-- Base Header -->
    <% include ../partials/headbase.ejs %>

  </head>

  <body>

    <!-- Navbar -->
    <% include ../partials/navbar.ejs %>
    
    <!-- Main Container -->
    <div class="container-fluid p-4">
      
      <h1 class="display-5">Nothing here.</h1>
      
    </div>

    <!-- Base JS -->
    <% include ../partials/jsbase.ejs %>

  </body>

</html>
