<!----------------------------------------!>
<!-- RASDASH SETUP - (C)2019: Ben Sykes --!>
<!----------------------------------------->

<!DOCTYPE html>

<html>

  <head>

    <!-- Base Header -->
    <% include ../partials/headbase.ejs %>

  </head>

  <body>

    <!-- Navbar -->
    <% include ../partials/navbar.ejs %>
    
    <!-- Settings Form -->
    <div class="container py-4">
      
      <!-- Filesystem Values -->
      <div class="row pb-4">
        
        <!-- ID -->
        <div class="col-6 px-4">
          <label>Filesystem ID:</label>
          <input class="form-control" id="input-fsid" type="text" cols="3">
        </div>
        
      </div>
      
      <!-- Save Controls -->
      <div class="row">
        
        <div class="col-12 px-4">
        
          <!-- Button -->
          <button class="btn btn-primary shadow-sm" onclick="saveSetup();">Save</button>
          &nbsp;<span class="text-muted align-middle" id="save-status"></span>
          
        </div>
      
    </div>

    <!-- Base JS -->
    <% include ../partials/jsbase.ejs %>
    
    <!-- Custom JS -->
    <script src="/javascript/settings.js"></script>
    <script src="/javascript/setup.js"></script>

  </body>

</html>
